
<div class="container bookmark-body mt-2">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h1>All bookmarked spots</h1>

      <div class="spot-bookmark-cards justify-content-between grid-container ">
        <% @bookmarks.each do |bookmark| %>
        <%= link_to bookmark_path(bookmark) do %>
          <div class="spot-bookmark-card container grid-container mr-3 mt-3">
            <h3 class="mb-0 pt-3"><%= bookmark.spot.name %></h3>
            <div class="d-flex justify-content-evenly justify-content-between mt-3">
              <div class="spot-index-img">
                <%= cl_image_tag bookmark.spot.photos.first.key, crop: :fit if bookmark.spot.photos.attached? %>
              </div>
              <div class="spot-index-infos flex-column justify-content-center h-100 w-100 pb-0 ml-3 mt-4">
                <div class="spot-bookmark-details">
                <p class="d-flex justify-content-center"><%= bookmark.spot.time_difference[:hour] %><%= bookmark.spot.time_difference[:minutes] %>h of sun</p>
                <div class="stars d-flex justify-content-center">
                  <% bookmark.spot.rating.to_i.times do %>
                    <i class="fas fa-star "></i>
                  <% end %>
                </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% end %>
      </div>

       <div class="bookmark-map">
        <div
          id="map"
          style="width: 100%; height: 42vh; border-radius: 8px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
