<h1>bookmarks</h1>


  <div>
    <% @bookmarks.each do |bookmark| %>
        <div>
          <%= "status:" %>
          <%= bookmark.status %>
        </div>
        <div>
          <%= "spot address:" %>
          <%= bookmark.spot.address %>
        </div>
        <div>
          <%= "user:" %>
          <%= bookmark.user.username %>
        </div>
    <% end %>
  </div>


<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
