
<div class="container">
<body class="index-body">
  <div class="nav-top-container navbar-top mt-3">
    <%= link_to "/users", class: "avatar-bordered" do %>
    <!-- for the user sign up avatar -->
        <% if user_signed_in? %>
         <%= cl_image_tag current_user.user_picture, class:"avatar-img" %>
        <% end %>
    <% end %>
  </div>
</body>

<div class="container mt-2">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <a class="btn-navy-index mb-1 d-flex justify-content-center mt-6 w-100" href="/spots/randomise" style="font-size: 16px;">Can't decide?</a>

      <div
        id="map"
        style="width: 100%; height: 30vh; border-radius: 8px; color: black;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>

        <div class="spot-index-cards justify-content-between grid-container ">
          <% @spots.each do |spot| %>
            <%= link_to spot_path(spot) do %>
            <div class="spot-index-card container grid-container mr-3 mt-3">
              <h3 class="mb-0 pt-3"><%= spot.name %></h3>
              <div class="d-flex justify-content-evenly justify-content-between mt-3">
                <div class="spot-index-img h-100">
                  <%= cl_image_tag spot.photos.first.key, crop: :fit if spot.photos.attached? %>
                </div>
                <div class="spot-index-infos flex-column justify-content-center h-100 w-100 pb-0 ml-3">
                  <div class="spot-index-details">
                    <!-- <p class="d-flex justify-content-center" style="font-size: 20px"><b><#%= spot.time_difference[:hour] %><#%= spot.time_difference[:minutes] %>h of sun</b></p> -->
                       <p class="d-flex justify-content-center" style="font-weight: 100">9.30 - 16.00h</p>
                    <div class="stars d-flex justify-content-center">
                      <% spot.rating.to_i.times do %>
                        <i class="fas fa-star "></i>
                      <% end %>
                    </div>
                  </div>
                  <!-- insert distance of spot -->
                  <!-- insert hours of sun left -->
                  <%#= spot.sun_end - spot.sun_start %>
                  <!-- insert spot.address (?) -->
                  <!-- show more button that leads to show.html.erb -->
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>





