<!--
<p><%= @spot.address %></p>
<p><%= @spot.pictures %></p>
<p><%= @spot.sun_start %></p>
<<<<<<< HEAD
<p><%= @spot.sun_end%></p>

=======
<p><%= @spot.sun_end%></p> -->
<!--  <div>
  <%# if user_signed_in? %>
   <%#= cl_image_tag current_user.user_picture, class:"avatar-bordered" %>
  <%#end %>
 </div>
 -->

 <body class="show-body" style="background-color: #F5FCFF; color: black;">
  <div class="navbar navbar-expand-sm navbar-light navbar-top mt-3">
    <%= link_to "#", class: "avatar-bordered" do %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/ThesiW", height: '100%' %>
    <% end %>
  </div>
</body>

<div class="container mt-2">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <div class="show-name">
        <h1 class="d-flex justify-content-center" style="margin-top: 40px;"> <%= @spot.name %> </h1>
        <p class="d-flex justify-content-center">6h of remaining sun</p>
      </div>

      <div class="carousel-card">
        <h2 class="d-flex justify-content-center pt-3">Carousel</h2>
      </div>

      <div class="show-details-card">
        <h2 class="d-flex justify-content-center pt-3">Spot Details</h2>
        <p>Distance</p>
        <p>Reviews</p>
        <p>Star rating</p>
        <a class="btn-main-show mb-1 mr-1 d-flex justify-content-between mt-3" href="/visits" style="font-size: 12px;"><i class="fas fa-plus-circle"></i></i>Add to Visits</a>
        <a class="btn-navy-show mb-1 mr-1 d-flex justify-content-between mt-3" href="/" style="font-size: 12px;"><i class="far fa-calendar-alt"></i>Add to Calendar</a>
      </div>

      <div class="show-map">
        <div id="map" style="width: 100%; height: 22vh; border-radius: 8px;" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      </div>

    </div>
  </div>
</div>


<%#= link_to "Show me all sunny spots", spots_path  %><br>
<%#= link_to "Go to randomiser", randomise_spots_path  %><br>

<%= simple_form_for [@spot, @bookmark] do |b| %>
  <%= b.submit class: 'btn btn-primary' %>
<% end %>

<%= simple_form_for [@spot, @favourite] do |f| %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<% @spot.bookmarks.each do |b| %>
  <% if b == Bookmark.find_by(spot: @spot, user: current_user)%>
    <%= button_to "delete", bookmark_path(b), :method => :delete %>
  <% else %>
    <%= simple_form_for [@spot, @bookmark] do |b| %>
      <%= b.submit class: 'btn btn-primary' %>
    <% end %>
  <% end %>
<% end %>







