

<%= image_tag "LogoMakr-7pIBgM.png", class: "logo" %>


<body class="show-body" style="background-color: #F5FCFF; color: black;"></body>



<div class="container mt-2">
  <div class="">

    <div class="col-sm-8 offset-sm-2 scrollable">
      <div class="show-name">

        <h1 class="d-flex justify-content-center" style="margin-top: 45px;"> <%= @spot.name %>
        <div class="visits-button">
          <% if Visit.find_by(spot: @spot, user: current_user)%>
            <%= link_to visit_path(Visit.find_by(spot: @spot, user: current_user)), :method => :delete do %>
              <i class="fas fa-plus-square mr-2"></i>
            <% end %>
          <% else %>
            <%= link_to spot_visits_path(@spot), method: :post do %>
              <i class="far fa-plus-square"></i>
            <% end %>
          <% end %>
        </div></h1>
<!--        <p class="d-flex justify-content-center"><#%= @spot.time_difference[:hour] %><#%= @spot.time_difference[:minutes] %>h of remaining sun</p>
 -->  </div>

      <div class="show-details-card">
        <div class="favourite-top">
          <div class="each-rating">
            <% @spot.rating.to_i.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - @spot.rating.to_i).times do %>
              <i class="far fa-star"></i>
            <% end %>
          </div>


          <div class="bookmark-favourite ratings justify-content-end pt-2">
            <div class="bookmark-button mr-2 mt-2">
              <% if Bookmark.find_by(spot: @spot, user: current_user)%>
                  <%= link_to bookmark_path(Bookmark.find_by(spot: @spot, user: current_user)), :method => :delete do %>
                    <i class="fas fa-bookmark mr-2"></i>
                  <% end %>
              <% else %>
                <%= link_to spot_bookmarks_path(@spot), method: :post do %>
                  <i class="far fa-bookmark"></i>
                <% end %>
              <% end %>
            </div>
            <div class="favourite-button mr-2 mt-2">
              <% if Favourite.find_by(spot: @spot, user: current_user)%>
                <%= link_to favourite_path(Favourite.find_by(spot: @spot, user: current_user)), :method => :delete do %>
                  <i class="fas fa-sun"></i>
                <% end %>
              <% else %>
                <%= link_to spot_favourites_path(@spot), method: :post do %>
                  <i class="far fa-sun"></i>
                <% end %>
              <% end %>
            </div>
          </div>

      </div>

          <div class="description-show" style="height: 14vh;">
            <p> <%= @spot.description %> </p>
          </div>

          <a class="btn-small-navy mr-1 d-flex justify-content-between" href="/" style="font-size: 11px; box-shadow: 0px 4px 13px -1px #d3d4da;"><i class="far fa-calendar-alt"></i>Add to Calendar</a>
        </div>

          <% @spot.photos.each do |photo| %>
            <div class="picture-item<%= " active" if photo == @spot.photos.first %>">
              <%= cl_image_tag photo.key, class:"d-block w-100", height: "172px" %>
        <% end %>

    </div>

      </div>
       <div class="show-map container"
          id="map"
          style="width: 100%; height: 22vh; border-radius: 8px; box-shadow: 0px 4px 13px -1px #d3d4da; padding: 0px; margin-left: 0px"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>

        <div class="review-card">
          <h3 class="d-flex justify-content-center pt-3" style="font-size: 26px;">Add a new review</h3>
              <%= simple_form_for [@spot, @review] do |f| %>
              <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience:"  %>
              <%= f.input :comment, label: false, :as => :text, :input_html => { :rows => 2 , :style => 'width: 100%'} %>
              <%= f.submit "Submit", class:'btn-navy-form' %>
            <% end %>

        </div>

        <div class="show-review-card">
           <strong class="review-titlte pt-3" style="font-size: 21px;">Reviews</strong>
          <div class="d-flex">
            <div class="stars ratings justify-content-start ml-3 ">
              <div class="review-container">
                <% @spot.reviews.reverse.each do |review| %>
                  <div class="review-row">
                    <div class="author">
                      <div class="avatar-bordered-reviews small" >
                        <% if user_signed_in? %>
                            <%= cl_image_tag current_user.user_picture, class: "avatar-img" %>
                        <% end %>
                      </div>
                      <div class="username-review" style="padding-top: 10px; padding-left: 10px">
                        <%= current_user.username %>
                      </div>
                    </div>
                      <div class="comment-review">
                        "<%= review.comment %>"
                      </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>








