
<%= image_tag "LogoMakr-7pIBgM.png", class: "logo" %>

<body class="show-body" style="background-color: #FFFEF9; color: black;"></body>

<div class="container mt-2">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h3 id="visits" class="d-flex justify-content-center" style="margin-top: 30px; font-size: 33px; color: black;">Visited Spots</h3>

          <div class="spot-index-cards justify-content-between grid-container ">
            <% @spots.each do |spot| %>
              <%= link_to spot_path(spot) do %>
              <div class="spot-index-card container grid-container mr-3 mt-3">
                <h3 class="favourite-name mb-0 pt-3"><%= spot.name %><i class="fas fa-sun sun-favourite ml-1"></i></h3>
                <div class="d-flex justify-content-evenly justify-content-between mt-2">
                  <div class="spot-index-img h-100">
                    <%= cl_image_tag spot.photos.first.key, crop: :fit if spot.photos.attached? %>
                  </div>
                  <div class="spot-index-infos flex-column justify-content-center h-100 w-100 pb-0 ml-3 mt-2">
                    <div class="spot-index-details">

                      <div class="sun-hours d-flex justify-content-center">
                        <span class="sun-index-icon">&#9788;</span>
                        <p style="font-weight: 100;"><%= spot.time_difference[:hour] %><%= spot.time_difference[:minutes] %>h of sun</p>
                      </div>

                       <div class="description-index mt-3">
                        <p> <%= spot.description.first(71) + "..." if spot.description %></p>
                        </div>

                          <div class="stars-index d-flex justify-content-center">
                            <% spot.rating.to_i.times do %>
                              <i class="fas fa-star "></i>
                            <% end %>
                            <%(5 - spot.rating.to_i).times do %>
                             <i class="far fa-star"></i>
                            <% end %>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>



       <div class="visit-map">
        <div
          id="map"
          style="width: 100%; height: 21vh; border-radius: 8px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>


