<%= image_tag "LogoMakr-7pIBgM.png", class: "logo" %>
<body class="show-body" style="background-color: #F5FCFF; color: black;">

</body>

<div class="container mt-2">
  <div class="row">
    <div class="col-sm-8 offset-sm-2">
      <h1 class="profile-user">Hello, <%=current_user.username %>!</h1>
      <p>Welcome to sunny spoticounter</p>
        <!-- <div class="profile-picture navbar-top mt-3">
            <%= link_to "/users", class: "avatar-bordered large border" do %>
             This is the user sign in avatar setup
                <% if user_signed_in? %>
                 <%= cl_image_tag current_user.user_picture, class:"avatar-img" %>
                <% end %>
            <% end %>
 -->
           <!--  <div class="username-info">
              Name:  <%=current_user.username %>
            </div>
            <div class="useremail-info">
               Email: <%= current_user.email %>
          </div> -->

        </div>
    </div>
  </div>
</div>
