
<p><%= @spot.address %></p>
<p><%= @spot.pictures %></p>
<p><%= @spot.sun_start %></p>
<p><%= @spot.sun_end%></p>


<%= link_to "Back to spots", spots_path  %><br>
<%= link_to "Back to randomise", randomise_spots_path  %><br>
<%= link_to "Back to Home", root_path  %>

