
<body class="homepage-body">
  <div class="nav-top-container navbar-top mt-3">
    <%= link_to "/users", class: "avatar-bordered" do %>
     <!-- This is the user sign in avatar setup -->
        <% if user_signed_in? %>
         <%= cl_image_tag current_user.user_picture, class:"avatar-img" %>
        <% end %>
    <% end %>
  </div>
  <h2 class="d-flex justify-content-center pl-3">Welcome <%=current_user.username if current_user%> </h2



  <div class="container mt-3">
    <form class="d-flex justify-content-start" id="city-form">
      <!-- <input type="text" id="city-input" placeholder="Enter city"> -->
       <input class="w-200" id="city-input" placeholder="Stockholm"></input>
      <input type="submit" value="Search" class="btn btn-navy-city">
    </form>
    <h3 class="mt-2" style="color: black; font-size: 18px;">Weather in <span id="city" ></span>:</h3>
  </div>



<!-- Thesi's code: -->
  <div class="container mt-2">
    <!-- <div class="row"> -->
      <div class="mb-5" >
        <div class="today-card container grid-container mr-3 mt-0">
          <div class="">
            <!-- Today's Date -->
            <h3 id="date" class="gray-text"></h3>
            <span class="sun d-flex justify-content-center pt-1" style="font-size: 50px;">
             <!--  &#9728; -->
              <div id="weather">
                <div class="d-flex ">
                  <img src="" alt="Weather Icon" id="icon" heigth="80" width="80">
                  <p class="pl-3 m-0" id="temperature"></p>
                </div>
                <p id="description"></p>
              </div>
            </span>

          </div>

              <!--Temperature of next 3 days Today   -->

          <div class="weather-cards d-flex justify-content-between">

            <div class="weather-card" >
              <h3><%= (Date.today + 1).strftime('%a') %></h3>
              <img src="" alt="Weather Icon" id="icon1" heigth="80" width="80">
              <p class="m-0" id="days1" ></p>
            </div>


            <div class="weather-card">
              <h3><%= (Date.today + 2).strftime('%a') %></h3>
              <img src="" alt="Weather Icon" id="icon2" heigth="80" width="80">
              <p class="m-0" id="days2"></p>
            </div>
            <div class="weather-card">
               <h3><%= (Date.today + 3).strftime('%a') %></h3>
              <img src="" alt="Weather Icon" id="icon3" heigth="80" width="80">
              <p class="m-0" id="days3"></p>
            </div>
          </div>
        </div>


        <div class="button-card container grid-container mr-3 mt-3">
          <h3 class="mb-0 pt-3">Never miss the sun.</h3>
          <h3 class="pt-0 mb-4 pt-1">Let's find a sunny spot!</h3>
          <a class="btn-main mb-1 d-flex justify-content-center mb-3" href="/spots">Show me all sunny spots!</a>
                <!-- Samir check specific spot with search bar css is in -search buttom -->
         <div class="search-container">
          <div class="btn-main mb-1 d-flex justify-content-center search-btn" id="search-btn">Check specific spot</div>
            <div id="input" class="search-icon-wraper">
              <%= form_tag spots_path, method: :get do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "mb-1 d-flex justify-content-center search",
                      id: "city-auto-complete"
                  %>
                  <i id="submit-icon" class="fas fa-search search-icon"></i>
                <% end %>
            </div>
          </div>
             <!-- [...] -->

          <!-- <div class="form-home form-inline">
            <%#= simple_form_for spots_path do |f| %>
              <%#= f.input :address, placeholder: "Enter location" %>
              <%#= f.submit class: 'btn btn-navy' %>
            <#% end %>
          </div> -->
        </div>

<div class="navbar-bottom">
  <div class="ml-3 mr-3 d-flex justify-content-between">
    <a href="/" class="btn-icon"><i class="fa fa-home"></i></a>
    <a href="/bookmarks" class="btn-icon"><i class="fas fa-bookmark" class="active"></i></a>
    <a href="/favourites" class="btn-icon"><i class="fas fa-sun" class="active"></i></a>
    <a href="/" class="btn-icon"><i class="fas fa-search"></i></a>
  </div>
</div>

    </div>
  <!-- </div> -->
</body>









