
<body class="homepage-body">

  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" src=""> -->
      <%= link_to "#", class: "avatar-bordered" do %>
      <%= image_tag "https://kitt.lewagon.com/placeholder/users/rappmax", height: '100%' %>
      <% end %>
    <!-- </button> -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown pl-2 show">
           <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="https://res.cloudinary.com/dxiatpprs/image/upload/v1622037671/Mask_Group_1_agdpry.png">
          <div class="dropdown-menu dropdown-menu-right show" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/">My Profile</a>
            <a class="dropdown-item" href="/vists">Visited Spots</a>
            <a class="dropdown-item" rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a>
          </div>
        </li>
    </ul>
  </div>

    <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown pl-2 show">
          <img class="avatar-bordered avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" src="https://kitt.lewagon.com/placeholder/users/rappmax">
        </li>

        <div class="dropdown-menu dropdown-menu-right show" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/">My Profile</a>
            <a class="dropdown-item" href="/vists">Visited Spots</a>
            <a class="dropdown-item" rel="nofollow" data-method="delete" href="/users/sign_out">Log out</a>
          </div> -->

        <!-- <li class="nav-item active">
          <%=# link_to "", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%=# link_to "", "#", class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%#= link_to "Logout", "#", class: "nav-link" %>
        </li> -->
      </ul>
    </div>
  </div>


  <h2 class="d-flex justify-content-start pl-3">Welcome!</h2>

<!-- Samir's Weather API -->
  <div class="container mt-3">
    <form class="d-flex justify-content-start" id="city-form">
      <!-- <input type="text" id="city-input" placeholder="Enter city"> -->
       <input class="w-200" id="city-input" placeholder="Stockholm"></input>
      <input type="submit" value="Search" class="btn btn-navy-city">
    </form>
    <h3 class="mt-2" style="color: black; font-size: 18px;">Weather in <span id="city" ></span>:</h3>
  </div>



<!-- Thesi's code: -->
  <div class="container mt-2">
    <div class="row">
      <div class="col-12 col-md-12 offset-md-3">
        <div class="today-card container grid-container mr-3 mt-0">
          <div class="">
            <!-- Today's Date -->
            <h3 id="date" class="gray-text"></h3>
            <span class="sun d-flex justify-content-center pt-1" style="font-size: 50px;">
             <!--  &#9728; -->
              <div id="weather">
                <div class="d-flex ">
                  <img src="" alt="Weather Icon" id="icon" heigth="80" width="80">
                  <p class="pl-3 m-0" id="temperature"></p>
                </div>
                <p id="description"></p>
              </div>
            </span>

          </div>

              <!--Temperature of next 3 days Today   -->

          <div class="weather-cards d-flex justify-content-between">

            <div class="weather-card" >
              <h3><%= (Date.today + 1).strftime('%a') %></h3>
              <img src="" alt="Weather Icon" id="icon1" heigth="80" width="80">
              <p class="m-0" id="days1" ></p>
            </div>


            <div class="weather-card">
              <h3><%= (Date.today + 2).strftime('%a') %></h3>
              <img src="" alt="Weather Icon" id="icon2" heigth="80" width="80">
              <p class="m-0" id="days2"></p>
            </div>
            <div class="weather-card">
               <h3><%= (Date.today + 3).strftime('%a') %></h3>
              <img src="" alt="Weather Icon" id="icon3" heigth="80" width="80">
              <p class="m-0" id="days3"></p>
            </div>
          </div>
        </div>


        <div class="button-card container grid-container mr-3 mt-3">
          <h3 class="mb-0 pt-3">Never miss the sun.</h3>
          <h3 class="pt-0 mb-4 pt-1">Let's find a sunny spot!</h3>
          <a class="btn-main mb-1 d-flex justify-content-center mb-3" href="/spots">Show me all sunny spots!</a>
                <!-- Samir check specific spot with search bar css is in -search buttom -->
          <div class="btn-main mb-1 d-flex justify-content-center search-btn" id="search-btn">Check specific spot</div>
            <div id="input" class="search-icon-wraper">
              <%= form_tag spots_path, method: :get do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "mb-1 d-flex justify-content-center search",
                      id: "city-auto-complete"
                  %>
                  <i id="submit-icon" class="fas fa-search search-icon"></i>
                <% end %>
            </div>

             <!-- [...] -->

          <!-- <div class="form-home form-inline">
            <%#= simple_form_for spots_path do |f| %>
              <%#= f.input :address, placeholder: "Enter location" %>
              <%#= f.submit class: 'btn btn-navy' %>
            <#% end %>
          </div> -->
        </div>

<div class="navbar-bottom">
  <div class="ml-3 mr-3 d-flex justify-content-between">
    <a href="/" class="btn-icon"><i class="fa fa-home"></i></a>
    <a href="/bookmarks" class="btn-icon"><i class="fas fa-bookmark" class="active"></i></a>
    <a href="/favourites" class="btn-icon"><i class="fas fa-sun" class="active"></i></a>
    <a href="/" class="btn-icon"><i class="fas fa-search"></i></a>
  </div>
</div>

    </div>
  </div>
</body>









